body {
    font-family: sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 2% 0;
  }
  
  nav select {
    padding: 1% 5%;
    border-radius: 10px;
    border: 1px solid lightgrey;
  }
  
  nav button {
    background: none;
    border: 1px solid lightgrey;
    padding: 1% 5%;
    border-radius: 10px;
  }
  